<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Mata Kuliah</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">
    <header class="bg-base-100 shadow-sm mb-10">
        <div class="container mx-auto px-4 h-16 flex items-center justify-between">
          <h1 class="text-xl font-bold">Sistem Akademik - Kelompok F2</h1>
          <nav class="hidden lg:flex">
            <ul class="flex space-x-4">
              <li><a th:href="@{/dosen}" class="btn btn-link">Dosen</a></li>
              <li><a th:href="@{/mahasiswa}" class="btn btn-link">Mahasiswa</a></li>
              <li><a th:href="@{/mk}" class="btn btn-link">MK</a></li>
              <li><a th:href="@{/nilai}" class="btn btn-link">Nilai</a></li>
            </ul>
          </nav>
          <button class="btn btn-sm lg:hidden" id="menu-toggle">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16v12H4zM4 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
          </button>
        </div>
      </header>
    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
        <h1 class="text-2xl font-bold mb-4">Edit Mata Kuliah</h1>
        <form th:action="@{/mk/{id}(id=${mataKuliah.recNo})}" th:object="${mataKuliah}" method="post">
            <div class="form-control mb-4">
                <label class="label" for="idMk">Kode Mata Kuliah:</label>
                <input type="text" id="idMk" th:field="*{idMk}" class="input input-bordered mt-1 block w-full" />
            </div>
            <div class="form-control mb-4">
                <label class="label" for="mk">Nama Mata Kuliah:</label>
                <input type="text" id="mk" th:field="*{mk}" class="input input-bordered mt-1 block w-full" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <a href="/mk" class="text-sm block mt-4">Back to List</a>
    </div>
</body>
</html>
